/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/
html{
	scroll-behavior: smooth;
}
.headers{
	position: relative;
	background-image: url(img/chineas.jpg);
	background-attachment: fixed;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	transition: 1s;
}
.header-icon{
	margin-top: 17px;
	max-width: 63px;
}
.container{
	margin: 0px 119px 0px 119px;
	max-width: 1402px ;
}
.header-line{
	display: flex;
	justify-content: space-between;
}
.header-menu{
	display: flex;
	margin-top: 42px;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 33px;
	text-align: center;
}
.menu-item{
	cursor: pointer;
	color: #fff;
	margin: 0px 29px 0px 0px;
}
.order{
	margin-top: 33px;
}
.order-button{
	padding: 10px;
	text-align: center;
	border-radius:15px;
	background-color: rgba(0, 0, 0, 0.5);

	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 49px;

color: #FFFFFF;
}
.header-line:before{
 	display: block;
	align-items: center;
	position: absolute;
	content: '';
	height: 1px;
	width: 83.35%;
	background-color: #ffff;
	top: 100px;
}
.head-desc-itm:not(:last-child){
	margin-right: 50px ;
}
.head-tittle{
	padding-top: 110px;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 90px;
line-height: 125px;

color: #FFFFFF;

}
.head-desc{
	position: relative;
	margin-top: 45px;
	display: flex;
	align-items: left;
	z-index: 99;

}
.head-image{
	max-width: 76px;
}
.head-desc-sub{
	margin-top: 80px;
	font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 30px;
max-width: 520px;
hyphens: manual;
text-align: justify;
color: #FFFFFF;
}
p{
	text-indent: 3ch;
}
.head-content-tokio{
	display: block;
}
.head-content-stambul{
	display: none;
}
.head-content-london{
	display: none;
}
main{
	padding-top: 300px;
	position:relative;
	margin-top:-150px ;
	 background-image: url(img/gradient.png);
 	background-size: contain;
 	height: 170vh;
 	padding-bottom: 300px;

 
 max-width: 100%;
}
.main-tittle{
	text-align: center;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 44px;
	line-height: 87px;

color: #FFFFFF;

}
.main-card{
	position: relative;
	max-width: 266px;
	height: 404px;
	border-radius: 13px;


}

.card-img{
	max-width: 266px;
	height: 404px;
	border-radius: 13px;
	top: 0px;
	
}
.img-grad1{
	display: inline-block;
	position: relative;    
	line-height: 0;
	max-width: 266px;
	height: 404px;
}
/*===*/
.img-grad1:after{
	top: 0;    
	left: 0;  
	width: 100%;
	height: 100%; 
	position: absolute;
	display: inline-block;
	content: "";
	padding-top: 270px;
	opacity: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 54px;
	text-align: center;
	vertical-align: bottom;
	color: #FFFFFF;
	border-radius: 13px;
	transition: opacity  ease-in-out;
}
.img-grad1:hover:after{
	content: "ТУР №1";
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, #0000, #000000); 
	opacity: 1.0;
	transition: 0.5s;
}
.img-grad1:before{
	top: 0;    
	left: 0;  
	width: 100%;
	height: 100%; 
	position: absolute;
	display: inline-block;
	font-family: 'Open Sans';
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 33px;
	color: #FFFFFF;
	content: "";
	padding-top: 330px;
	opacity: 0;
	transition: opacity  ease-in-out;
}
.img-grad1:hover:before{
	content:"Токіо";
	
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	opacity: 1.0;
	transition: 0.5s;
	z-index: 101;
}
.img-grad1:hover .card-text{
	display: block;
	z-index: 101;
}
/*---*/
.img-grad2{
	display: inline-block;
	position: relative;    
	line-height: 0;
	max-width: 266px;
	height: 404px;
}
/*===*/
.img-grad2:after{
	top: 0;    
	left: 0;  
	width: 100%;
	height: 100%; 
	position: absolute;
	display: inline-block;
	content: "";
	padding-top: 270px;
	opacity: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 54px;
	text-align: center;
	vertical-align: bottom;
	color: #FFFFFF;
	border-radius: 13px;
	transition: opacity  ease-in-out;
}
.img-grad2:hover:after{
	content: "ТУР №2";
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, #0000, #000000); 
	opacity: 1.0;
	transition: 0.5s;
}
.img-grad2:before{
	top: 0;    
	left: 0;  
	width: 100%;
	height: 100%; 
	position: absolute;
	display: inline-block;
	font-family: 'Open Sans';
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 33px;
	color: #FFFFFF;
	content: "";
	padding-top: 330px;
	opacity: 0;
	transition: opacity  ease-in-out;
}
.img-grad2:hover:before{
	content:"Стамбул";
	
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	opacity: 1.0;
	transition: 0.5s;
	z-index: 101;
}
.img-grad2:hover .card-text{
	display: block;
	z-index: 101;
}


.main-cards{
	cursor: pointer;
	margin-top: 50px;
	display: flex;
	justify-content: space-between;

}
/*---*/
.img-grad3{
	display: inline-block;
	position: relative;    
	line-height: 0;
	max-width: 266px;
	height: 404px;
}
/*===*/
.img-grad3:after{
	top: 0;    
	left: 0;  
	width: 100%;
	height: 100%; 
	position: absolute;
	display: inline-block;
	content: "";
	padding-top: 270px;
	opacity: 0;
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 54px;
	text-align: center;
	vertical-align: bottom;
	color: #FFFFFF;
	border-radius: 13px;
	transition: opacity  ease-in-out;
}
.img-grad3:hover:after{
	content: "ТУР №3";
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	background: transparent;
	background-image: linear-gradient(to bottom, #0000, #000000); 
	opacity: 1.0;
	transition: 0.5s;
}
.img-grad3:before{
	top: 0;    
	left: 0;  
	width: 100%;
	height: 100%; 
	position: absolute;
	display: inline-block;
	font-family: 'Open Sans';
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 33px;
	color: #FFFFFF;
	content: "";
	padding-top: 330px;
	opacity: 0;
	transition: opacity  ease-in-out;
}
.img-grad3:hover:before{
	content:"Лондон";
	
	display: inline-block;
	width: 100%;
	height: 100%;    
	position: absolute;
	top: 0;    
	left: 0;   
	opacity: 1.0;
	transition: 0.5s;
	z-index: 101;
}
.main-cards:after{
	content: '';
	display: block;
	position: absolute;
	background-color: #B3B3B3;
	height: 1px;
	width: 20%;
	top: 950px;
	left: 24%;
}
.main-cards:before{
	content: '';
	display: block;
	position: absolute;
	background-color: #B3B3B3;
	height: 1px;
	width: 20%;
	top: 950px;
	left:56%;
}

.swip{
	margin-top: -150px; 
	background-image: url(img/plain-sky.jpg);
	background-attachment: fixed;
	height: 120vh;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	min-width: 0;
}

.foot-tittle{
	font-family: 'Open Sans';
	position: relative;
	font-style: normal;
	font-weight: 700;
	font-size: 66px;
	line-height: 90px;
	color: #FFFFFF;
	top: 100px;
}
.foot-order-button{
	margin-top: 140px;
	padding-right: 50px;
	margin-bottom: 50px;

}
.foot-order{
	font-size: 45px;
	background-color: rgba(0, 0, 0, 0.3);
}
.vid{
	max-width: 30%;
}
.video-slider .swiper{
	width: auto;
}
.swiper{
	align-items: center;
}
.video_itm{
	max-width: 300px;
}
.video_slider_wrapper{
	align-items: center;
	text-align: center;
}
.video-slide .slider-video{
	width: 300px;
}
.swiper-slide{
	width: 300px;
}
.tokio-slide{
	display: none;
}
.stambul-slide{
	display: none;
}
.london-slide{
	display: block;
}
.about-us{
	padding-top: 200px;
	position:relative;
	margin-top:-150px ;
	 background-image: url(img/gradient.png);
 	background-size: contain;
 	height: 100vh;
 	padding-bottom: 300px;
 	max-width: 100%;
}
.about-tittle{
	position: relative;
	font-family: 'Open Sans';
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 33px;
	color: #FFFFFF;
}
.about-tittle:after{
	content:'';
	position: absolute;
	height: 2px;
	background-color: #B3B3B3;
	width:200px;
	left: 300px;
	top: 16px

}
.about-tittle:before{
	content:'';
	position: absolute;
	height: 2px;
	background-color: #B3B3B3;
	width:200px;
	left:780px;
	top: 16px
}
.about-sub{
	padding-top: 50px;
	font-family: 'Open Sans';
	text-align: center;
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 33px;
	color: #FFFFFF;
	hyphens: manual;
	

}
.feetback{
	margin-top: -150px;
	padding: 200px 0 200px 0;
	background-image: url(img/feetback.jpg);
	background-attachment: fixed;
	height: 140vh;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%;
	min-width: 0;

 }
 .feet-cont{
 	margin:0 30px;
 	padding:30px 20px;
 	background-color: #F2F2F2FF;
 	font-family: 'Open Sans';
 	text-align: center;
 	border-radius: 25px;
 	max-width: 1000px;
 }
 .user-face{
  	max-width: 100px;
 	border-radius: 110%;
 }
 .feet-tittle p{
 	text-indent: 0ch;
 	text-align: center;
 	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 33px;
	color: #3F3F3F;

 }
 .feet-sub{
 		text-align: center;
	font-style: italic;
	font-weight: 700;
	font-size: 16px;
	line-height: 33px;
	color: #3F3F3F;
 }
.feet-slider{
	padding: 200px;
}
.feet_slider_slide{
	padding: 0px 200px;
}
.contact{
	padding: 200px 50px 0px 50px;
	position:relative;
	margin-top:-250px ;
	 background-image: url(img/gradient.png);
 	height: 50vh;
 	max-width: 100%;
}
.contact-wrapper{
	margin:0px 40px 0px auto ;
 	display: flex;
 	justify-content: space-between;
}
.contact-number-itm{
	display: flex;
	font-family: 'Open Sans';
	font-style: italic;
	font-size: 30px;
	color: #fff; 
	max-height: 64px;

}
.cont-img{
	max-height: 44px;
	max-width: 44px;
	transition: .5s;
}
.contact-number-itm p{
	padding-top: 5px;
	margin-right: 10px;
}
.contact-number:not(:first-child){
	margin-top: 10px;
}
.contact-number:hover .contact-number-itm p{
	text-decoration: underline;
}
.contact-number:hover .cont-img{
	scale: 1.1;
	transition: .5s;
}
.contact-social{
	margin-right: 100px;
}
.social-tittle{
	font-family: 'Open Sans';
	color: #fff;
	font-size: 20px;
}
.social-icon{
	margin-top: 10px;
}
.social-icon a img{
	max-width: 44px;
	
}
.social-icon a:not(:last-child){
 margin-right: 20px;
}
.end{
	text-align: center;
	margin-top: 30px;
	font-family: 'Open Sans';
	color: #fff;
	font-size: 14px;
}
.end span{
	font-style: italic;
}
.order-consult{
	height: 100%;
	margin-bottom: 200px;
	display: flex;
	margin-top: 100px;
}
.order-text{
	display: inline-block;
	font-family: 'Open Sans';
	color: #fff;
	font-size: 40px;
	box-sizing: content;
}
.order-text p{
	text-indent: 0ch;
}
.consult-button{
	text-align: center;
	border: 1px solid #fff;
	border-radius:25px;
	background-color: rgba(0, 0, 0, 0.3);
}
.arrow{
	position: absolute;
	transform: rotate(149deg) scale(-1, -1);
	left: 700px;
	z-index: 102;
	transition: 1s;
}
.arrow-itm{
	max-width: 300px;
	
}
.order-consult:hover .arrow{
	transform: rotate(140deg) scale(-1, -1);
	transition: 1s;
}
.social-btn{
	transition: .2s;
}
.social-icon a:hover .social-btn {
	transform: scale(1.1);
	transition: .2s;

}
.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color:rgba(0, 0, 0, .8);
	top: 0;
	left: 0;
	z-index: 103;
}
.popup_body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px 10px;
}
.popup_content{
	background-color: #fff;
	color: #000;
	max-width: 800px;
	padding: 30px;
}
.popup-tittle{
	font-family: 'Open Sans';
	font-size: 20px;
	line-height: 30px;
}